@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-DemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-DemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('./TTTravels-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}